
.grid-view table.items tr.odd-destroyed/* td*/,
.grid-view table.items tr.even-destroyed/* td*/ {
    color: #fff;
}

.grid-view table.items tr.odd-destroyed {
    background-color: #a5a5a5 !important;
}

.grid-view table.items tr.even-destroyed {
    background-color: #717171 !important;
}

.grid-view table.items tr.selected,
.grid-view table.items tr.selected:hover,
.grid-view table.items tbody tr:hover {
	color: inherit;
}

.grid-view table.items tr.selected {
    background-color: #bce774 !important;
}

.grid-view table.items tr.selected:hover {
	background-color: #ccff66 !important;
}

.grid-view table.items tbody tr:hover {
    background-color: #ecfbd4 !important;
}

#forms {
	position: relative;
}

	#form-center {
		position: relative;
		z-index: 1000;
		
		/*bottom: 700px;*/
	}
	